<app-search></app-search>
<div cdkDropListGroup class="container">
  <div class="items">
    <div *ngFor="let column of boardService.getBoard$() | async" class="item">
      <div class="top-content">
        <div class="top">
          <h2>{{ column.title }}</h2>

          <div class="buttons">
            <button (click)="onEditColumn(column.id)">
              <i class="fa fa-edit"></i>
            </button>
            <button (click)="onDeleteColumn(column.id)">
              <i class="fa fa-close"></i>
            </button>
          </div>
        </div>
        <div class="info">
          <p>Description: {{ column.description }}</p>
          <p>{{ column.creationDate }}</p>
        </div>
      </div>

      <div class="mid">
        <app-color-panel
          (emitColor)="onColorChange($event, column.id)"
        ></app-color-panel>

        <!-- <app-dialog
          (emitText)="onAddCard($event, column.id)"
          [question]="'Add new card in ' + column.title + ' column'"
        >
          <button><span>Add</span><i class="fa fa-plus"></i></button>
        </app-dialog> -->

        <button (click)="closeInput.bind(this, column.id)()" id="{{ column.id }}">
          <span>Add</span><i class="fa fa-plus"></i>
        </button>
        <app-add
          [visible]="closeInput.bind(this)"
          [formValues]="onAddCard.bind(this)"
          [testVal]="this.selectedColumnId"
          *ngIf="display"
        ></app-add>
      </div>

      <div
        cdkDropList
        [cdkDropListData]="column.list"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          cdkDrag
          [ngStyle]="{ background: column.color }"
          *ngFor="let item of column.list"
        >
          <app-board-item
            [item]="item"
            (emitDeleteCard)="onDeleteCard($event, column.id)"
            (emitEditCard)="onEditCard($event, column.id)"
          >
          </app-board-item>
        </div>
      </div>
    </div>
  </div>
</div>
