.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }

  i {
    color: #fff;
    margin-left: 10px;
  }
}
